{% extends "base.html" %}
{% load humanize %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-center my-5">Dashboard</h1>

            <div class="row">
                <div class="col-md-6 mb-2">
                    <div class="card bg-light p-3 d-flex flex-column  justify-content-center">
                        <p class="m-1"><strong>Solde actuel : </strong><span
                                class="badge bg-primary">{{ balance|intcomma }} FT42</span></p>
                        <p class="m-1"><strong>Solde staké : </strong><span
                                class="badge bg-success">{{ staked_balance|intcomma }} FT42</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card bg-light p-3">
                        <p class="m-1"><strong>Niveau : </strong>{{ user_level }}</p>
                        <p class="m-1"><strong>Tokens nécessaires pour passer au niveau supérieur :</strong>
                            <span class="badge bg-warning text-dark">{{ tokens_for_next_level }} FT42</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="container mt-4">
                <h2>Staker des Tokens</h2>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <form method="POST" action="{% url 'stake_tokens' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="amount" class="form-label">Montant à staker</label>
                        <input type="number" id="amount" name="amount" class="form-control"
                               placeholder="Entrez le montant"
                               required>
                    </div>
                    <button type="submit" class="btn btn-primary">Staker</button>
                </form>
            </div>

    </div>
{% endblock %}
