{% extends "base.html" %}
{% load humanize %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-5">Dashboard de {{ username }}</h1>

        {% if wallet_valid %}

            <div class="row">
                <div class="col-md-6 mb-2">
                    <div class="card bg-light p-3 d-flex flex-column  justify-content-center">
                        <p class="m-1"><strong>Solde actuel : </strong><span
                                class="badge bg-primary">{{ balance|intcomma }} FT42</span></p>
                        <p class="m-1"><strong>Solde staké : </strong><span class="badge bg-success">{{ staked_balance|intcomma }} FT42</span>
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card bg-light p-3">
                        <p class="m-1"><strong>Niveau : </strong>{{ user_level }}</p>
                        <p class="m-1"><strong>Tokens nécessaires pour passer au niveau supérieur :</strong>
                            <span class="badge bg-warning text-dark">{{ tokens_for_next_level }} FT42</span>
                        </p>
                    </div>
                </div>
            </div>

        {% else %}
            <div class="row">
                <a class="nav-link text-center" href="{% url 'update_wallet_address' %}">Please enter your wallet address in
                    <span class="fw-bold">Settings</span> to access to your account</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
